Source: python-elementary
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: debhelper (>= 5.0.38), cdbs (>= 0.4.49),
 python-all-dev,
 cython, python-pyrex,
 elementary (>= 0.7.0.52890), python-evas
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: python-elementary
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-support
Description: python-elementary
 python bindings for elementary
