Source: azy
Section: libs
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: debhelper (>= 7), libtool, automake, subversion, pkg-config, bison,
 eina, ecore
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: azy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Azy is a full rewrite of libzxr, itself a modification of libxr.
 It provides functions for manipulating RPC clients/servers as well as RSS feeds.
