Source: enjoy
Section: x11
Priority: optional
Maintainer: Jeff Hoogland <jeffhoogland@gmail.com>
Build-Depends: cdbs, debhelper (>= 7), libtool, autopoint, automake, subversion, eina, eet, evas, ecore,  edbus, edje, emotion, elementary,  liblightmediascanner-dev, libsqlite3-dev
Standards-Version: 3.8.3
Homepage: http://www.enlightenment.org

Package: enjoy
Architecture: any
Depends: ${shlibs:Depends}
Description: Enjoy - Music Player
 .
 Enjoy is a music player written using Enlightenment Foundation
 Libraries (EFL) with focus on speed and mobile usability, yet should
 be usable on desktops as well.
 .
 Enjoy is modeled around a media database constructed by
 LightMediaScanner, it is not meant to play single files from disk,
 instead it will recursively index directories for music files and then
 list them by artist, album, genre and so on. Playlists are also
 supported, as well as random or filter playlists can be dynamically
 generated.


