Source: taskbar
Section: unknown
Priority: extra
Maintainer: Jeff Hoogland <jeffhoogland@linux.com>
Build-Depends: enlightenment
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: taskbar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Taskbar Module
 Easily see your running applications via the taskbar. Enlightenment Module
