Source: desksanity
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: e19, efx
Conflicts: e17
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: desksanity
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: desksanity Module for E19
 Adds extra fancy effects to your e19 desktop
