Source: ewe
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: efl | efl-dbg, elementary
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: ewe
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EFL-based widget set library
 ewe is a widget set based on the Enlightenment Foundation Libraries,
 primarily aimed at creating graphical user interfaces for desktop apps
