Source: tiling
Section: unknown
Priority: extra
Maintainer: Jeff Hoogland <jeffhoogland@linux.com>
Build-Depends: enlightenment
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: tiling
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tiling Module
 Turn your whole E deskop, or just certain virtual desktops, into a configurable tiling window manager.
