Source: ephysics
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: efl, libbullet2.80, libc6 (>= 2.4), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.1.1)
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: ephysics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ephysics
 Enlightenment Desktop package that allows for the use of libbullet in the EFL
