Source: comp-scale
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: enlightenment, edje
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: comp-scale
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: comp-scale plugin for E17
 Add extra effects to Enlightenments built in compositing module
