Source: elfe
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: libcurl4-gnutls-dev, xtrans-dev, m4, gettext, enlightenment,  bison, mawk, libltdl-dev, libpcre3, elementary
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: elfe
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: elfe
 Enlightenment Module. Launcher for tablet profile
