Source: libeweather
Section: unknown
Priority: extra
Maintainer: Jeff Hoogland <jeffhoogland@linux.com>
Build-Depends: enlightenment
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: libeweather
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libeweather Module
 Get weather updates on your desktop! Enlightenment Module.
