Source: eio
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: libcurl4-gnutls-dev, debhelper (>= 7), xtrans-dev, mime-support, m4, gettext, libexpat1-dev, libgcrypt11-dev, libgtk2.0-dev, libltdl-dev, libasound2-dev, xfonts-utils, bison, mawk, ecore, locales, automake, libpcre3, libgstreamer0.10-dev, autoconf-archive, libtool, libfreetype6-dev, autoconf, eina
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: eio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enlightenment Input Output Library
 Enlightenment Input Output Library.
