Source: enlightenment
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Depends: bodhi-profiles
Build-Depends: debhelper (>= 7), edje, m4, gettext, evas, libasound2-dev, libcroco3, locales, efreet, automake, eina, liblua5.1-0-dev, libldap-2.4-2, edbus, subversion, libaprutil1, libgcrypt11, embryo, libltdl-dev, libkeyutils1, libgnutls26, libudev-dev, libsvn1, exchange, mime-support, git-core, libsasl2-2, libtasn1-3, libgtk2.0-dev, libdbus-1-dev, bison, mawk, libk5crypto3, eet, libapr1, libkrb5support0, autopoint, autoconf-archive, libtool, libfontconfig1-dev, libxml2-dev, libgpg-error0, libpam0g-dev, xfonts-utils, libunistring0, ecore, libsqlite3-0, libgssapi-krb5-2, eeze, libkrb5-3, libpcre3, autoconf, libxcb-shape0-dev
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: enlightenment
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: enlightenment
 enlightenment
