Source: mail
Section: unknown
Priority: extra
Maintainer: Jeff Hoogland <jeffhoogland@linux.com>
Build-Depends: enlightenment
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/mail.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/mail.git;a=summary

Package: mail
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: mail module
 e17 mail module
