Source: moksha-penguins
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: efl
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: moksha-penguins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Penguins Module for Moksha
 Adds configurable penguins to your Moksha desktop
