Source: diskio
Section: unknown
Priority: extra
Maintainer: Jeff Hoogland <jeffhoogland@linux.com>
Build-Depends: enlightenment, edje
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: diskio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enlightenment Diskio Module
 Enlightenment module to show disc activity
