Source: ecomp
Section: x11
Priority: optional
Maintainer: quaker <quaker66@gmail.com>
Build-Depends: cdbs, debhelper (>= 6), m4,
  gettext,
  libasound2-dev,
  autotools-dev,
  libcroco3,
  locales,
  xserver-xorg-dev,
  automake,
  libice-dev,
  eina,
  libgl1-mesa-glx,
  libltdl-dev, 
  libgnutls-dev,
  libgstreamer0.10-dev,
  libxslt1-dev,
  mime-support,
  intltool,
  libgtk2.0-dev,
  bison,
  mawk,
  libxml-parser-perl,
  eet,
  autoconf-archive,
  libtool,
  xfonts-utils,
  libunistring0,
  libpcre3,
  autoconf
Standards-Version: 3.7.3

Package: ecomorph-core
Architecture: any
Depends: ${shlibs:Depends}
Description: A compiz port for E17
 This package provides a core.
