Source: python3-efl
Section: unknown
Priority: extra
Maintainer: Eric W. Brown
Uploaders: Jeff Hoogland, Doug Yanez
Build-Depends: efl, elementary, python3-all-dev
Standards-Version: 3.8.3

Package: python3-efl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
#Vcs-Browser: https://github.com/Feneric/bodhibuildscripts
Description: Python EFLs
 Python bindings for the EFLs
