Source: eeze
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: libudev-dev, ecore
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: eeze
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Eeze is a library for manipulating devices through udev with a simple and fast api.
 Eeze is a library for manipulating devices through udev with a simple and fast api. It interfaces directly with libudev, avoiding such middleman daemons as udisks/upower or hal, to immediately gather device information the instant it becomes known to the system. 
