Source: envision
Section: unknown
Priority: extra
Maintainer: Bodhi Build <jeffhoogland@linux.com>
Build-Depends: elementary
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/envision.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/envision.git;a=summary

Package: envision
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: pdf reader written in EFLs
 pdf reader written in EFLs
