Source: moksha-flame
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: efl
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: moksha-flame
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Flame Module for Moksha
 Adds hot fire to your Moksha desktop
