Source: ecomorph
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: debhelper (>= 7), hardening-wrapper, edje, libgconf2-dev, m4, gettext, evas, libasound2-dev, enlightenment, autotools-dev, libcroco3, locales, xserver-xorg-dev, efreet, valac, automake, eina, liblua5.1-0-dev, libgl1-mesa-glx, edbus, embryo, libltdl-dev, libnspr4-dev, libudev-dev, libssl-dev, libgstreamer0.10-dev, gnome-doc-utils, xtrans-dev, mime-support, git-core, intltool, libgtk2.0-dev, bison, mawk, eet, gtk-doc-tools, autopoint, autoconf-archive, libtool, libfontconfig1-dev, libc6-i686, liblircclient-dev, xfonts-utils, libunistring0, ecore, eeze, libesd0-dev, libpcre3,  gnome-common, autoconf
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: ecomorph
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ecomorph-core
Description: Ecomorph
 Compiz plugin for the E desktop. Requires ecomorph-core
