Source: photo
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: enlightenment
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: photo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: photo module
 Enlightenment Module to display a slideshow on your desktop
