Source: screenshot-moksha
Section: unknown
Priority: extra
Maintainer: Jeff Hoogland <jeffhoogland@linux.com>
Build-Depends: moksha
Standards-Version: 3.8.4
Homepage: https://github.com/thewaiter/Clipboard

Package: screenshot-moksha
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, emprint
Description: Advanced Screenshot Module
 An advanced screenshot tool for the moksha desktop.
