Source: everything-pidgin
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: enlightenment
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: everything-pidgin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: everything-pidgin
 Enlightenment module to extend Run Everything
