Source: imlib2
Section: unknown
Priority: extra
Maintainer: Jeff Hoogland <jeffhoogland@linux.com>
Build-Depends: libcurl4-openssl-dev, debhelper (>= 7), mime-support, m4, gettext, libgcrypt11-dev, libasound2-dev, libgtk2.0-dev, bison, mawk, locales, libgif-dev, automake, autoconf-archive, libtool, libfreetype6-dev, libexpat1-dev, libltdl-dev, libtiff4-dev, xfonts-utils, libpng12-dev, libpcre3, libgstreamer0.10-dev, autoconf
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: imlib2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: imlib2
 imlib2
