Source: epack
Section: unknown
Priority: extra
Maintainer: Jeff Hoogland <jeffhoogland@linux.com>
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: epack
Architecture: any
Depends: python-efl, python-magic, libarchive-dev, python-elm-extensions, p7zip-full
Description: EPack Archive Manager
 A small, fast Archive written in Python and Elementary
