Source: editje
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: elementary, python2.7, python-evas, python-ecore, python-edje, python-edbus, python-emotion, python-elementary
Depends: python-evas, python-ecore, python-edje, python-edbus, python-emotion, python-elementary
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: editje
Architecture: any
Depends: python-evas, python-ecore, python-edje, python-edbus, python-emotion, python-elementary
Description: editje 
 A graphical EDJE file editor
