Source: enlightenment
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Depends: bodhi-profiles
Build-Depends: efl, libasound2-dev [linux-any], libxext-dev, libpam0g-dev, libxcb-shape0-dev, dbus-x11, libxcb-keysyms1-dev, edbus
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: enlightenment
Architecture: any
Provides: e17
Replaces: e17, e19
Conflicts: e17, e19
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Enlightenment DR17 Window Manager
 Enlightenment is an advanced window manager for X11. Unique
 features include: a fully animated background, nice drop shadows
 around windows, backed by an extremely clean and optimized
 foundation of APIs.
