Source: enlightenment
Section: x11
Priority: optional
Maintainer: #USERNAME# <#EMAIL#>
Build-Depends: debhelper (>= 8.0.0), efl, libasound2-dev [linux-any], libxext-dev, libpam0g-dev, libxcb-shape0-dev, dbus-x11, libxcb-keysyms1-dev, edbus
Standards-Version: #POLICY#
Homepage: http://www.enlightenment.org/
Vcs-Git: git://git.enlightenment.org/core/enlightenment.git
Vcs-Browser: http://git.enlightenment.org/core/enlightenment.git/?h=enlightenment-0.17

Package: enlightenment
Architecture: i386
Provides: e17
Replaces: e17, e19
Conflicts: e17, e19
Depends: bodhi-profiles-extra-e17, ${misc:Depends}
Description: Enlightenment DR17 WM (Bodhi Custom)
 Enlightenment is an advanced window manager for X11. Unique
 features include: a fully animated background, nice drop shadows
 around windows, backed by an extremely clean and optimized
 foundation of APIs.

Package: enlightenment-dbg
Architecture: any
Section: debug
Priority: extra
Depends: enlightenment (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for Enlightenment DR17 WM (Bodhi Custom)
 Enlightenment is an advanced window manager for X11. Unique
 features include: a fully animated background, nice drop shadows
 around windows, backed by an extremely clean and optimized
 foundation of APIs.
 .
 This package contains the debugging symbols for enlightenment
