Source: python-efl
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: efl, elementary, python-pyrex, python-all-dev
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: python-efl
Architecture: any
Provides: python-ecore, python-edbus, python-edje, python-elementary, python-emotion, python-epdf, python-ethumb, python-evas
Replaces: python-ecore, python-edbus, python-edje, python-elementary, python-emotion, python-epdf, python-ethumb, python-evas
Conflicts: python-ecore, python-edbus, python-edje, python-elementary, python-emotion, python-epdf, python-ethumb, python-evas
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Python EFLs
 Python bindings for the EFLs
