Source: eet
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: zlib1g-dev, libjpeg-turbo8-dev, libjpeg8, doxygen, eina
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: eet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enlightenment DR17 file chunk reading/writing library
 Eet is a tiny library designed to write an arbitrary set of chunks of data to a
 file and optionally compress each chunk (very much like a zip file) and allows
 fast random-access reading of the file later on. It does not do zip as zip
 itself has more complexity than needed, and it was much simpler to implement
 this once here.
 .
 It's small, fast, and does a job. It's heavily commented and fully documented.
