Source: epdf
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: cdbs, debhelper (>= 6), 
 doxygen, automake1.10, autopoint, subversion, libtool, pkg-config,
 eina, eet,
 evas, ecore
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/epdf.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/epdf.git;a=summary

Package: epdf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enlightenment PDF Library
 Enlightenment PDF library using MuPDF
