Source: efreet
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: ecore
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: efreet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library that implements freedesktop.org specs for use with E17/EFL
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). Currently, the following specifications are
 included:
  - Base Directory
  - Desktop Entry
  - Icon Theme
  - Menu
