Source: python-ethumb
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: debhelper (>= 5.0.38), cdbs (>= 0.4.49),
 python-support, 
 cython,
 evas
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: python-ethumb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-support
Description: python-ethumb
 python bindings for ethumb
