Source: emotion-generic-players
Section: unknown
Priority: extra
Maintainer: Eric W. Brown
Uploaders: Jeff Hoogland, Doug Yanez
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libvlc-dev, efl
Standards-Version: 3.9.2

Package: emotion-generic-players
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Vcs-Browser: https://github.com/Feneric/bodhibuildscripts
Description: Emotion Generic Loaders
 Additional "generic" loaders for Emotion
