Source: enlil
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: libexif-dev, ecore, ethumb, libiptcdata0-dev, libxml2-dev, libflickcurl-dev 
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: enlil
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enlil is a library using the EFL which allows to manage a list of albums and photos. 
