Source: python-edje
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: debhelper (>= 5.0.38), cdbs (>= 0.4.49),
 python-all-dev (>= 2.3.5-11), python-support (>= 0.5.3),
 cython, python-pyrex,
 python-evas, edje
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: python-edje
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-support
Description: python-edje
 python bindings for edje
