Source: moksha-forecasts
Section: unknown
Priority: extra
Maintainer: Jeff Hoogland <jeffhoogland@linux.com>
Build-Depends: efl
Conflicts: e17
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: moksha-forecasts
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Forecasts Module Moksha
 Get weather updates on your desktop! Moksha Module.
