Source: moksha-cpu
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: efl
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: moksha-cpu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CPU Module for Moksha
 Adds configurable CPU usage display to your Moksha desktop
