Source: evas-generic-loaders
Section: unknown
Priority: extra
Maintainer: Eric W. Brown
Uploaders: Jeff Hoogland, Doug Yanez
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.2

Package: evas-generic-loaders
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
#Vcs-Browser: https://github.com/Feneric/bodhibuildscripts
Description: Evas Generic Loaders
 Additional "generic" loaders for Evas
