Source: enki
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: libcurl4-openssl-dev, debhelper (>= 7), autotools-dev, hardening-wrapper, edje, libgconf2-dev, m4, gettext, libiptcdata0-dev, evas, libasound2-dev, libcroco3, locales, xserver-xorg-dev, efreet, valac, automake, eina, liblua5.1-0-dev, emotion, libexif-dev, edbus, embryo, libltdl-dev, libnspr4-dev, azy, eio, libudev-dev, libssl-dev, libgstreamer0.10-dev, xtrans-dev, gnome-doc-utils, mime-support, git-core, intltool, libgtk2.0-dev,  bison, mawk, eet, enlil, gtk-doc-tools, autopoint, autoconf-archive, libtool, libfontconfig1-dev, liblircclient-dev, libc6-i686, xfonts-utils, libunistring0, ecore, elementary, ethumb, eeze, libesd0-dev, libpcre3,  gnome-common, autoconf
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: enki
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: enki
 photo manager written in EFLs
