Source: efl
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: libgnutls-dev, libcurl4-gnutls-dev, libxcursor-dev, libxss-dev, libxinerama-dev, libxrandr-dev, libxext-dev, libxp-dev, libxcomposite-dev, libxi-dev, libxdamage-dev, libxtst-dev, libglib2.0-dev, libc-ares-dev, libfreetype6-dev, libpng12-dev, libx11-dev, libxrender-dev, x11proto-xext-dev, libtiff4-dev, libgif-dev, libfontconfig1-dev, libglu1-mesa-dev [!armel], mesa-common-dev, libxpm-dev, libgles2-mesa-dev [armel], librsvg2-dev, libfribidi-dev, libpixman-1-dev, libxcb-shm0-dev, libxcb-image0-dev, libxcb1-dev, libmount-dev
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: efl
Architecture: any
Provides: eio, ecore, eet, eina, eio, embryo, eobj, evas, ethumb, edje, efreet, emotion, eeze, ephysics
Replaces: eio, ecore, eet, eina, eio, embryo, eobj, evas, ethumb, edje, efreet, emotion, eeze, ephysics
Conflicts: eio, ecore, eet, eina, eio, embryo, eobj, evas, ethumb, edje, efreet, emotion, eeze, ephysics
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EFLs
 Enlightenment Desktop core package
