Source: efl
Section: unknown
Priority: extra
Maintainer: Jeff Hoogland
Build-Depends: pkg-config, autopoint,
 zlib1g-dev, libjpeg-dev, libpng-dev, libtiff-dev, libgif-dev, libxpm-dev,
 libfreetype6-dev, libfontconfig1-dev,
 libx11-dev, x11proto-xext-dev, , libglu1-mesa-dev, mesa-common-dev,
 libfribidi-dev,
 libgl1-mesa-dev [!armel !armhf], libgles2-mesa-dev [armel armhf],
 libpixman-1-dev, libxcb-shm0-dev, libxcb-image0-dev, libxcb1-dev,
 libxcursor-dev, libxss-dev, libxrender-dev, libxinerama-dev,
 libxrandr-dev, libxext-dev, libxcomposite-dev, libxi-dev,
 libxdamage-dev, libxtst-dev, libglib2.0-dev,
 libluajit-5.1-dev [!arm64 !s390x], liblua5.2-dev [arm64 s390x], libdbus-1-dev,
 libsndfile-dev,
 libgnutls28-dev, libcurl4-gnutls-dev,
 libudev-dev [linux-any], libmount-dev [linux-any], libblkid-dev [linux-any],
 libgstreamer1.0-dev, libgstreamer-plugins-base1.0-dev, libgcrypt-dev,
 libbullet-dev, libpulse-dev, liblz4-dev, libwebp-dev, libharfbuzz-dev,
 libavahi-client-dev, libvlc-dev, libraw-dev,
 libpoppler-cpp-dev, libspectre-dev, librsvg2-dev, libgbm-dev, libxkbcommon-dev, libinput-dev,
 libscim-dev, libibus-1.0-dev
Standards-Version: 3.8.3

Package: efl
Architecture: any
Provides: eio, ecore, eet, eina, eio, embryo, eobj, evas, ethumb, edje, efreet, emotion, eeze, ephysics, elementary, evas-generic-loaders, emotion-generic-players
Replaces: eio, ecore, eet, eina, eio, embryo, eobj, evas, ethumb, edje, efreet, emotion, eeze, ephysics, elementary, evas-generic-loaders, emotion-generic-players
Conflicts: eio, ecore, eet, eina, eio, embryo, eobj, evas, ethumb, edje, efreet, emotion, eeze, ephysics, elementary, evas-generic-loaders, emotion-generic-players
Depends: ${shlibs:Depends}, ${misc:Depends}
#Vcs-Browser: https://github.com/Feneric/bodhibuildscripts
Description: EFLs
 Enlightenment Foundation Libraries

Package: efl-dbg
Architecture: any
Section: debug
Priority: extra
Depends: efl (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for EFL
 This package contains the debugging symbols for EFLs
