Source: ecore
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: debhelper (>= 7), m4, gettext, evas, libasound2-dev, libcroco3, locales, x11proto-print-dev, automake, libfreetype6-dev, eina, libxss-dev, libldap-2.4-2, libexpat1-dev, libaprutil1, libgcrypt11, libltdl-dev, libkeyutils1, libgnutls26, libsvn1, mime-support, git-core, libsasl2-2, libtasn1-3, libgtk2.0-dev, mawk, bison, libk5crypto3, eet, libapr1, libkrb5support0, autopoint, autoconf-archive, libtool, libxml2-dev, libgpg-error0, xfonts-utils, libunistring0, libxtst-dev, libsqlite3-0, libkrb5-3, libgssapi-krb5-2, libpcre3, autoconf
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: ecore
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ecore
 Enlightenment Desktop core package
