Source: ephoto
Section: unknown
Priority: extra
Maintainer: root <jeffhoogland@linux.com>
Build-Depends: elementary
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: ephoto
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ephoto
 A simple image view writte in EFL. Support slide shows
