Source: lekha
Section: unknown
Priority: extra
Maintainer: Jeff Hoogland <jeffhoogland@linux.com>
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: lekha
Architecture: any
Depends: python-efl, python-elm-extensions, python-pypdf2, python-xdg
Description: Lekha PDF Viewer
 A small, fast PDF Viewer written in Python and Elementary
